@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
   
    font-family: source sans pro, sans-serif;
    font-weight: 400;
    color: #182025
}

/* headings and logo */

h1, h2{
    font-family: Paytone One, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 1px;
    color: #1d6372
}

#logo {
    float: left;
    font-size: 300%;
}






/* the wrap around anchor code is taken from love running got the title "tots Play to return to home page if clicked on*/
