@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
   
    font-family: source sans pro, sans-serif;
    font-weight: 400;
    color: #182025
}

/* headings and logo */

h1, h2{
    font-family: Paytone One, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 1px;
    color: #1d6372
}

#logo {
    float: left;
    font-size: 300%;
    padding-left: 20px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: #11bbb2;
}

#menu a:hover {
    color: #8c342c;
}

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#cover-text, #cover-text h2{
    color: #1d6372
}

#cover-text h3 {
    color: #8c342c;
}


#hero-image {
    height: 600px;
    max-width: 100%;
    background-image: url(../images/Hero\ image\ of\ a\ toddler\ boy\ happily\ playing\ in\ the\ ball\ pit.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

#hero-outer {
    position: relative;
}

/* creates something of animation for hero image */ 

#cover-text {
    font-size: 150%;
    font-family: source sans pro, sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;

    width: 450px;
    height: 300px;

    padding-top: 10px;
    padding-left: 30px;

    background-color: #f5f5f5;

    bottom: 20px;
    right: 150px;
    position: absolute;
}

/* general and about us section */ 

#hero-image {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 100%;
    width: 45%;
    float: left;
}

#about-us {
    font-size: 200%
    position: center;
    
}

#about-image {
    padding-top: 30px;
    float: right;
    padding-right: 40px;
    padding-bottom: 30px;

    
}
/* the wrap around anchor code is taken from love running got the title "tots Play to return to home page if clicked on*/